{% extends 'base.html.twig' %}

{% block title %}Hello CoreController!{% endblock %}

{% block body %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading"></div>
            <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-info btn-xl text-uppercase" href="#services">Tell Me More</a>
        </div>
    </header>

    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row">

                {# Message de confirmation d'email reussie #}
                {# {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %} #}


                {% for trick in tricks %}
                    <div class="col-lg-3">

                        {# Card #}
                        <div class="team-member">
                            <img class="mx-auto" src="{{ trick.imgFile }}" alt="figure de snowboard" />                           
                            <a href="{{ path('trick', {id:trick.id})}}">{{ trick.trickName }}</a>
                            <p class="text-muted">{{  trick.description }}</p>
                            <h6>Ajoute le{{ trick.createdAt|date('d/m/y') }}</h6>
                        </div>
                    </div>
                {% endfor %}    
                
            </div> 

            {# Pager #}
            
            <div class="row">
                {# {% if full == false %} #}
                    <div class="col-lg-3 mx-auto text-center"><button class="btn btn-sm btn-info btn-xl text-uppercase disabled" id="submitButton" type="submit">Voir plus</button></div>
                    {# <div class="d-flex justify-content-end mb-4"><a class="btn btn-secondary text-uppercase" href="/&full=1">Voir plus →</a></div> #}

                    {# <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div> #}
                {# {% endif %} #}
            </div> 
            
        </div>
    </section>

{% endblock %}
