{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}

<!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center" style="margin:3rem;"> 
        
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1 class="h3 mb-3 font-weight-bold">Modifiez votre figure</h1><br><br>
                
                {{ include('trick/edit_form.html.twig') }}
                {# <a href="{{ path('remove_trick_video', {id: video.id}) }}">Supprimer</a>  #}

                {# {{ include('trick/edit_form.html.twig', {'button_label': 'Modifier'}) }} #}

            

            </div>
        </div> 
    </section>       

    
{% endblock %}

{% block javascripts %}
    {# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="4-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> #}
    {# <script src="{{ asset("js/jsVideoForm.js") }}"></script> #}

{% endblock %}
