{% extends 'base.html.twig' %}

{% block title %}Hello CoreController!{% endblock %}

{% block body %}
    
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center" style="margin:3rem;">
                <h3 class="section-heading text-uppercase">{{ trick.trickName }}</h3>
                {# <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> #}
            </div>
            <!-- * * * * * * * * * * * * * * *-->
            
            {# Image principale #}
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="card mb-3" style=" height:400px;">
                        <img class="card-img-top" style="height:100%;" src="{{ asset("uploads/") ~ trick.imageFilename }}" alt="Card image cap">                       
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>

            {# Petites images et video #}
            <div class="card-deck">
                
                {% for image in trick.images %}
                    <div class="card">

                        <img class="card-img-top" src="{{ asset("uploads/") ~  image.name }}" alt="Card image cap">
                    </div>
                {% endfor %}
                                    
                
                {% for video in trick.videos %}
                    <div class="card">
                        <a href="{{ trick.video.url }}">Voir</a>
                        
                    </div>
                {% endfor %}    
            </div>
            <br>
            <br>

            {# Texte descriptif de la figure #}
            <div style="padding:3rem;">

                <p>{{ trick.description }}</p>
                
            </div>
            <br>
            <br>

            {# Informations importantes #}
            <div class="card-deck">
                <div class="card">                   
                    <div class="card-body">
                        <p class="card-text"><small>Auteur:  {{ trick.user.firstName }} {{ trick.user.lastName}}</small></p>
                    </div>
                </div>
                <div class="card">                   
                    <div class="card-body">
                        <p class="card-text"><small>Categorie:  {{ trick.trickgroup.name }}</small></p>
                    </div>
                </div>
                <div class="card">                   
                    <div class="card-body">                    
                        <p class="card-text"><small>Cree le:  {{ trick.createdAt|date('d/m/y') }}</small></p>
                    </div>
                </div>
                
            </div>
            <br>
            <br>
            <br>

            {# Formulaire de depot d'un commentaire (A faire) #}
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5"><br><br>
                    {% if app.user %}
                        
                        <h5>Ajouter un message</h5><br>

                        {{ include('trick/messageForm.html.twig') }}
                    {% else %}    
                        <h5 style="color:#ffffff;">Connectez-vous pour ajouter un message</h5><br>
                        <a href="{{path('app_login')}}" class="btn btn-secondary">Connexion</a>
                    {% endif %}    
                </div>
            </div>        

            {# Liste des commentaires #}
            
            {# <section class="py-5 border-bottom"> #}
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    {# <h2 class="fw-bolder" style="color:white">Customer testimonials</h2> #}
                    <h5>Liste des messages</h5>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        {% if messages.data is empty%}
                            <h5 style="color:#ffffff;">Aucun commentaire pour cette figure</h5>
                        {% else %}
                            {% for message in messages.data %}
                                <div class="card mb-4">
                                    <div class="card-body p-4">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                            <div class="ms-4">
                                                <div class="small text-muted">Ajoute le {{ message.createdad|date("d/m/y") }} par {{ message.user.firstName }} {{ message.user.lastName }}</div>
                                                <p class="mb-1">{{ message.content}}</p>
                                                {# <div class="small text-muted">- Client Name, Location</div> #}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="d-flex justify-content-center">
                                {% set path = 'trick' %}
                                {% set slug = trick.slug %}
                                {% set pages = messages.pages %}
                                {% set currentPage = messages.page %}
                                {# {% do messages.setPageRange(3)%}  #}
                                {# {{ knp_pagination_render(messages, 'trick/pagination.html.twig') }} #}
                                {% include "trick/pagination.html.twig" %}
                            </div>                               
                        {% endif %}    
                        <!-- Testimonial 2-->
                        
                    </div>
                </div>
            </div>
    
        </div>
    </section>    

{% endblock %}