
{{ form_start(form) }}
    {{ form_row(form.trickName, {'label': 'Nom', 'attr': {'placeholder': 'Nom de la figure...'}}) }}
    {{ form_row(form.description, {'label': 'Description', 'attr': {'placeholder': 'Description de la figure...'}}) }}
    {{ form_row(form.trickGroup, {'label': 'Categorie', 'attr': {'placeholder': 'Categorie...'}}) }}
    
    {{ form_row(form.images, {'label': 'Image', 'attr': {'placeholder': 'Choisissez les images...'}}) }}
    
    {# Sur la route "edit_trick", on affiche les images uploadees #}
    {% if app.request.attributes.get('_route') == 'edit_trick' %}
        <div style="display:flex; justify-content: space-around;" >
            {% for image in trick.images %}
                <div>
                    <img src="{{ asset('uploads/' ~ image.name) }}"  alt="image du trick" width="100">   
                    <a href="{{ path('remove_trick_image', {id: image.id}) }}">Supprimer</a>
                </div>  
            
            {% endfor %}
        </div>
    {% endif %}         

    {# Pour selectionner une ou plusieurs videos #}
    {# <p>Videos</p>  #}

    <div id="videos" data-prototype="{{ form_row(form.videos.vars.prototype)|e('html_attr') }}">
         {{ form_row(form.videos) }}
         <span></span>
    </div>     
                
    {# {{ form_widget(form) }} #}
    <button class="btn btn-lg btn-info" style="margin:2rem;">{{ button_label|default('Ajoutez votre figure') }}</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

{{ form_end(form, {'render_rest': false}) }}











